<template>
  <div class="hello">
    <h1>Artas becas Chile</h1>

    <vue-good-table :columns="columns" :rows="lista_becas_actuales"
    max-height="700px"
    :fixed-header="true"

    :sort-options="{
      enabled: true,
      initialSortBy: {field: 'fin', type: 'asc'}
    }"

    >
    
      <template slot="table-row" slot-scope="props">
    <span v-if="props.column.field == 'url'">
      <span style="font-weight: bold; color: blue;"><a :href="props.row.url" target="_blank">Ir</a></span> 
    </span>
    <span v-else>
      {{props.formattedRow[props.column.field]}}
    </span>
  </template>
    </vue-good-table>

    <p>Ideas, mejoras, sugerencias a <a href="mailto:contact@koomeba.com">contact@koomeba.com</a> </p>

  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {},
  data() {
    return {
      columns: [
        {
          label: "Name",
          field: "nombre",
          filterOptions: {enabled: true,},
           width: "50px",
        },
        {
          label: "Descripcion",
          field: "descripcion",
          html: true,
          filterOptions: {enabled: true,},
           width: "300px",

        },
        {
          label: "Inicia postulacion",
          field: "inicio",
          type: "date",
          dateInputFormat: "yyyy-MM-dd H:m",
          dateOutputFormat: "dd/MM/yy",
          width: "50px",
        },
        {
          label: "Fin postulacion",
          field: "fin",
          type: "date",
          dateInputFormat: "yyyy-MM-dd H:m",
          dateOutputFormat: "dd/MM/yy",
          width: "50px",
        },
        {
          label: "Fuente",
          field: "fuente",
          width: "50px",
        },
        {
          label: "Ir",
          field: "url",
          width: "50px",
        },
      ],

      lista_becas_actuales: [],
    };
  },
  methods: {
    
  },
  mounted() {
    let url =
      "https://bitbucket.org/aferral/becas_chile_app/raw/HEAD/data_becas/becas_chile.json";

    this.axios.get(url).then((response) => {
      this.lista_becas_actuales = response.data;
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
